main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 80px 1rem;
  grid-template-areas: 
      "title title sidebar"
      "leftside textdisplay sidebar"
}

#header {
  grid-area: title;
  text-align: center;
}

#left {
  grid-area: leftside;
}

#content {
  grid-area: textdisplay;
  justify-content: center;
}

#sidebar {
  grid-area: sidebar;
}

#text {
  width: fit-content;
}

#commentsTitle{
  width:fit-content;
  justify-self: end;
  margin-top: 20px;
  margin-bottom: -20px
}